@media screen and (min-width: 320px) and (max-width: 375px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #reader {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
  }

  .html5-qrcode-element {
    padding: 8px 13px;
    font-size: 15px;
  }

  .card {
    margin-top: 20px;
  }
  .anchorResult {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #reader {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
  }

  .html5-qrcode-element {
    padding: 8px 13px;
    font-size: 15px;
  }

  .card {
    margin-top: 20px;
  }
  .anchorResult {
    width: 100%;
  }
}
